NODE_ENV=development
PORT=

MONGODB_URI=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPIRES=7d

ALLOWED_ORIGINS=http://localhost:3000

THROTTLE_TTL=60000
THROTTLE_LIMIT=100
